body{
    margin: 0px;
    padding: 0px;
}
[v-cloak]{
    display: none;
}
.im {
    background: #d2e9fb
    url(https://giligili-img-av.oss-cn-hangzhou.aliyuncs.com/img/imBack.jpg)
    top/contain no-repeat;
    background-size: 1920px 1080px;
    height: 100vh;
    min-width: 1300px;
    position: relative;
    font-family: "local-file", "Arial", "Verdana", "微软雅黑", "黑体", "serif";
}
.maim-im {
    width: 80vw;
    height: 90vh;
    left: 10vw;
    top: 5vh;
    position: absolute;

    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
}
.main-im-s::before {
    width: 80vw;
    height: 90vh;
    left: 10vw;
    top: 5vh;
    content: " ";
    position: absolute;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(https://giligili-img-av.oss-cn-hangzhou.aliyuncs.com/img/imBack.jpg);
    filter: blur(10px);
    z-index: 0;
}
.im-master {
    width: 80px;
    background-color: #4a90e2cc;
    display: flex;
    align-items: center;
    position: relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.im-m-avater {
    margin-top: 50px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 10px;
}
.im-m-list {

    width: 300px;
    height: 100%;
    position: relative;
    display: flex;
    /*display: none;*/
    flex-direction: column;
    background-color: unset;
    background-color: rgba(74, 144, 226, 0.5);
}
.im-m-l-search {
    display: flex;
    height: 70px;
    width: 276px;

    align-items: center;
    padding: 0 12px;
    position: relative;
}
.im-m-l-s-input {
    padding-left: 35px;
    padding-right: 15px;
    padding-top: 2px;
    border: none;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    user-select: auto;
    height: 36px;
    outline: none;
}
.im-m-l-add {
    height: 35px;
    width: 35px;
    background: url(/img/add.png) top/contain no-repeat;
    margin-left: 10px;
    cursor: pointer;
}
.im-m-l-list {
    width: 300px;
    flex: 1;
    overflow-y: auto;
    /* background: #d2e9fb; */
    -webkit-overflow-scrolling: touch;
}

.im-m-l-list::-webkit-scrollbar {
    display: none;
}
.im-m-l-s-result{
    position: absolute;
    top: 60px;
    left: 8px;
    width: 276px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    z-index: 1300;
    overflow: hidden;
    color: #333;
    height: calc(100% - 100px);
    /*display: none;*/
}
.im-m-l-s-result-list-item{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    height: 56px;
    padding-left: 15px;
    font-size: 14px;
}

.im-m-l-l-room {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    cursor: default;
    transition: background-color 0.2s;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.im-m-l-l-room-focus {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    cursor: default;
    transition: background-color 0.2s;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: rgba(74, 144, 226, 0.4);
}
.im-m-l-l-r-main {
    flex: 1;
    margin-left: 12px;
}
.im-char {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(241, 241, 241, 0.6);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    position: relative;
}
.im-c-more{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.95);
}
.im-c-more-h{
    height: 70px;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
    text-align: center;
    line-height: 70px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
}
.im-c-more-content{
    flex: 1;
    padding: 12px;
    overflow-y: auto;
}
.im-c-more-c-block{
    margin-bottom: 10px;
}
.im-c-more-c-block p{
    line-height: 33px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin: 0;
}
.im-c-more-c-block-button{
    height: 36px;
    line-height: 36px;
    margin-top: 8px;
    background-color: #dd514c;
    cursor: pointer;
    color:white;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    width: 100px;
}
.im-c-header {
    height: 70px;
    border-bottom: 1px solid rgba(208, 208, 208, 0.6);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 18px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.im-c-h-right{
    display: flex;
    position: absolute;
    right: 0;
    width:50px;
    height: 70px;
    justify-self: center;
    align-items: center;
}
.im-c-message {
    -ms-flex: 1;
    flex: 1;
    padding: 8px 10px 0 10px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    display: block;
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

.im-c-m-msg-left {
    display: -ms-flexbox;
    display: flex;
    margin-right: 54px;
    margin-bottom: 10px;
    position: relative;
}
.im-c-m-msg-right {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-right: 0px;
    margin-left: 54px;
    display: flex;
    margin-bottom: 10px;
    position: relative;
}
.im-c-m-avater {
    width: 44px;
    height: 44px;
    border-radius: 22px;
}
.im-c-m-m-left {
    margin-left: 12px;
    flex-direction: column;
}
.im-c-m-m-right {
    margin-left: 0px;
    margin-right: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
}
.im-c-m-m-name-left {
    height: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
}
.im-c-m-m-name-right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    height: 20px;

    -ms-flex-align: end;
    align-items: flex-end;
}
.im-c-m-m-txt-left {
    display: inline-block;
    color: #555;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 6px 8px;
    border-radius: 8px;
    border-top-left-radius: 0px;
    margin-top: 3px;
}
.im-c-m-m-txt-right {
    color: rgba(255, 255, 255, 0.9);
    background-color: #4a90e2;
    border-top-left-radius: 8px;
    border-top-right-radius: 0px;
    display: inline-block;
    font-size: 14px;
    padding: 6px 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-top: 3px;
}
.im-c-m-m-3-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 7px 15px 0;
    border-color: transparent rgba(255, 255, 255, 0.8) transparent transparent;
    position: absolute;
    top: 23px;
    left: 49px;
}
.im-c-m-m-3-right {
    border-width: 0 0 15px 7px;
    border-color: transparent transparent transparent #4a90e2;
    left: initial;
    right: 49px;
    top: 23px;
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
}
.im-c-charInput {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 20px;
    border-bottom-right-radius: 10px;
}
.im-c-c-img-no {
    width: 35px;
    height: 35px;
    border: 0px;
    outline-style: none;
    background-image: url(/img/pic1.png);
    background-size: 35px 35px;
}
.im-c-c-img-no:hover {
    background-image: url(/img/pic2.png);
}
.im-c-c-img-yes {
    width: 30px;
    height: 30px;
    background-image: url(/img/sent1.png);
    background-size: 30px 30px;
    margin-left: 5px;
}
.im-c-c-img-yes:hover {
    background-image: url(/img/emisent2.png);
}
.im-c-c-input {
    flex: 1;
    padding: 0px 8px;
    height: 32px;
    line-height: 32px;
    outline: none;
    border: 1px solid rgba(208, 208, 208, 0.5);
    font-size: 14px;
    color: #666;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    margin-left: 5px;
    overflow: visible;
}

.black_overlay {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.5;
    opacity: .50;
}
.im-join-room {
    border-radius: 6px 6px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}
.im-join-room-x{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    background-image: url("/img/x.svg");
    background-size: cover;
    cursor:pointer;
}
.im-join-room-x:hover {
    background-image: url("/img/x2.svg");
}
.im-join-room-heard{
    width: 100%;
    text-align: center;
    height: 140px;
    background-color: #f0f2f5;
    line-height: 140px;
}
.im-join-room-foot{
    padding-top: 12px;
    width: 100%;
    height: 48px;
    line-height: 60px;
}
.im-join-room-foot-button{
    height: 36px;
    width: 140px;
    line-height: 36px;
    margin: 0 auto;
    background-color: #4a90e2;
    cursor: pointer;
    color:white;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
}
.im-add-room{
    border-radius: 6px 6px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 180px;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}
.im-add-room-h{
    padding: 13px 20px 14px 20px;
    border-bottom: 1px solid #e9e9e9;
    height: 30px;
    font-size: 18px;
    font-weight: bolder;
    line-height:30px;
    width: 330px;
    color: #666;
}

.im-add-room-input{
    outline-style: none ;
    border: 1px solid #3a8ee6;
    border-radius: 5px;
    width: 319px;
    margin-top: 5px;
    padding: 6px 10px;
}
.im-add-room-put{
    background-color: #3a8ee6;
    position: absolute;
    right: 20px;
    bottom: 10px;
    height: 30px;
    width: 55px;
    border-radius: 4px;
    border: 1px solid #4a90e2;
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.im-add-room-put:hover{
    background-color: #66b1ff;
}